script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(src="/vendor/angular/angular.min.js")
script(src="/vendor/angular-resource/angular-resource.min.js")
script(src="/vendor/angular-route/angular-route.min.js")
script(src="/javascripts/angularapp/app.js")
script(src="/javascripts/angularapp/services/dataAccess.service.js")
script(src="/javascripts/angularapp/main/main.controller.js")
script(src="/javascripts/angularapp/main/edit.controller.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
 